.editableTextBlock {
    font-size: 32px;
    font-stretch: semi-condensed;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 130%;

}

.editableTextBlock span {
    color: var(--red-hover);
}

@media (max-width: 768px) {
    .editableTextBlock {
        font-size: 20px;

    }
}