.everyoneWillLike {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;

}

.row:first-child,
.row:nth-child(3) {
    justify-content: flex-end;
}

.row:nth-child(4) {
    justify-content: center;
}

.blockWrapper {
    height: 134px;
    max-width: 490px;
    width: 100%;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    padding: 0 28px;
    height: 100%;
    width: 100%;
    font-stretch: semi-condensed;
    cursor: pointer;
}

.block.active {
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
}

.blue {
    background-color: var(--blue);
}

.red {
    background-color: var(--red);
}


.everyoneButton {
    position: absolute;
    left: 0;
    bottom: 0;
}


.everyoneWillLike .hiddenDesktop {
    display: none;
}

@media (max-width: 1100px) {
    .block {
        font-size: 28px;
    }
    .blockWrapper {
        max-width: 400px;
    }

}

@media (max-width: 1024px) {
    .block {
        font-size: 24px;
        padding: 0 24px;
    }

    .blockWrapper {
        max-width: 360px;
        height: 100px;
    }

    .block.active {
        font-size: 16px;
    }

}

@media (max-width: 768px) {
    .everyoneWillLike {
        gap: 20px;
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }

    .row {
        flex-direction: column;
        width: 100%;
    }

    .row:nth-child(1) .blockWrapper:nth-child(2) {
        justify-content: flex-end;
    }

    .row:nth-child(3) .blockWrapper:nth-child(1) {
        justify-content: center;
    }

    .blockWrapper {
        height: 100%;
        display: flex;
        width: 100%;
        max-width: none;
    }

    .block {
        width: max-content;
        font-size: 20px;
        height: 100%;
        min-height: 61px;
    }

    .block.active {
        font-size: 12px;
        padding: 0 10px;
    }

    .everyoneWillLike .row:nth-child(4) {
        flex-direction: row;
    }

    .everyoneButton {
        width: 100%;
        margin-top: 20px;
        position: relative;
    }

    .lastBlock .block{
        width: 100%;
    }

    .everyoneWillLike .hiddenMobile {
        display: none;
    }

    .everyoneWillLike .hiddenDesktop {
        display: flex;
    }
}