.product-detail.container {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  .product-detail.container {
    grid-template-columns: minmax(0, 1fr) minmax(320px, 460px);
  }
}

@media (max-width: 1250px) {
  .product-detail.container {
    grid-template-columns: minmax(0, 1fr) minmax(320px, 360px);
  }
}

@media (max-width: 959px) {
  .product-detail.container {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
}
