.Regpopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 20;
}

.Regpopup_active {
  opacity: 1;
  visibility: visible;
}

.Regpopup__content {
  background: white;
  padding: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  transform: translateY(-10%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 826px; /* Fixed width */
  height: 719px; /* Fixed height */
}

.Regpopup__content--hidden {
  transform: translateY(0%);
  opacity: 1;
}

.Regpopup_active .Regpopup__content {
  transform: translateY(0);
  opacity: 1;
}

.Regpopup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.Regpopup__title {
  color: var(--dark-grey, #222);
  font-family: Bahnschrift;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.Regpopup__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.Regpopup__section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.Regpopup__field {
  display: flex;
  flex-direction: column;
}

.Regpopup__field--small {
  width: 190px;
}

.Regpopup__field--medium {
  width: 208px;
}

.Regpopup__field--large {
  width: 297px;
}

.Regpopup__field--big {
  width: 610px;
}

.Regpopup__field--gender {
  width: 66px;
  display: flex;
  align-items: start;
}

.Regpopup__field--city {
  width: 288px;
}

.Regpopup__label {
  margin-bottom: 5px;
  color: var(--dark-grey, #222);
  font-family: Bahnschrift;
  font-size: 13px;
  font-weight: 700;
  line-height: 130%;
}

.Regpopup__input {
  height: 47px;
  border-radius: 4px;
  color: var(--dark-grey, #222);
  font-family: Bahnschrift;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  padding: 0 31px 0 12px;
  appearance: none;
  border: 2px solid var(--dark-grey, #222);
}

.Regpopup__select {
  height: 51px;
  border: 2px solid var(--dark-grey, #222);
  border-radius: 4px;
  color: var(--dark-grey, #222);
  font-family: Bahnschrift;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  padding: 0 31px 0 12px;
  appearance: none;
  background-image: url(../../images/chevrondowngrey.svg);
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 24px 24px;
}

.Regpopup__agreements {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Regpopup__agreement {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--dark-grey, #222);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.Regpopup__buttons {
  display: flex;
  gap: 20px;
  width: 100%;
}

.Regpopup__button {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Regpopup__button--gov {
  color: #040404;
    background-color: white;
    border: 2px solid #B73A34;
    padding: 17px 22px;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    padding: 16px 32px 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.Regpopup__button--register {
  color: white;
  background-color: #B73A34;
  border: none;
  padding: 17px 22px;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  cursor: pointer;
}

.Regpopup__checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid var(--dark-grey, #222);
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background-color: white;
}

.Regpopup__checkbox:checked {
  background: url(../../images/checkbox.svg) no-repeat center center;
  background-color: white;
}

.Regpopup__hint {
  color: var(--divider-black, #969594);
  font-family: Bahnschrift;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-top: 5px;
}

.Regpopup__error {
  color: red;
  font-family: Bahnschrift;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-top: 5px;
}

.Regpopup__field--error .Regpopup__input {
  border-color: #FF3B3B;
}

.Regpopup__button--disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.Regpopup__dev-message {
  color: #030303;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
}

.Regpopup__subtitle {
  color: var(--dark-grey, #222);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  width: 473px;
  height: 17px;
  margin: -31px 0 0 0;
}

.Regpopup__content.hidden {
  display: none;
}

.Regpopup__support {
  color: var(--dark-grey, #222);
  font-family: Bahnschrift;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 16.9px */
  margin: 0;
}

/* Add to your existing CSS file */

.Regpopup__steps {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.Regpopup__step {
  color: #BEBDBC; /* Inactive color */
  font-family: Bahnschrift;
  font-size: 20px;
  font-weight: 700;
  width: 327px; /* Fixed width for each step */
  text-align: center; /* Center align text */
  padding-bottom: 5px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.Regpopup__step.active {
  color: #B73A34; /* Active color */
  border-bottom: 2px solid #B73A34; /* Active bottom border color */
}

