.userProfileSection {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.userProfileWrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.userProfileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userProfileInfo {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.userProfileContainer {
    display: flex;
    gap: 24px;
    width: 100%;
}

.userProfileDetailsWrapper {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 100%;
}


@media (max-width: 1024px) {
    .userProfileInfo {
        flex-direction: column;
    }

}


@media (max-width: 768px) {
    .userProfileWrapper {
        gap: 40px;
    }

    .userProfileHeader {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }


    .userProfileContainer {
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }


}
