.personal {
    display: flex;
    color: white;
}

.personal__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.personal__profile-photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.personal__sidebar-text{
    color: var(--white, #FFF);
    /* body medium */
    font-family: Bahnschrift;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-decoration: none;
    margin: 0;
    margin-bottom: 40px;
}


.personal__sidebar-link {
    color: var(--white, #FFF);
    font-family: Bahnschrift;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-decoration: none;
    gap: 16px;
    /* margin-top: 40px; */
    /* flex-direction: column; */
    /* display: flex; */
    margin-top: 16px;

}

.personal__sidebar-link:first-of-type{
    margin-top: 0;

}

.personal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 240px);
    padding: 20px;
    margin-top: -110px;
}

.personal__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.personal__header-select {
    margin-left: 10px;
    height: 60px;
    width: 285px;
    margin-top: 15px;
    padding: 0 5px 0 14px;
    background: var(--grey, #D2D1D0);
    color: black;
    text-transform: uppercase;
    background-image: url(../../images/chevrondowngrey.svg);
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 24px 24px;
}

.personal__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px; /* Add margin-bottom to create space between cards and buttons */
}

.personal__card {
    width: 286px;
    height: 389px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.personal__card img {
    width: 100%;
    height: auto;
}

.personal__card-text {
    margin: 5px 0 0 0;
    color: var(--white, #FFF);
font-family: Bahnschrift;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 26px */
}

.personal__card-textsmall{
    margin: 0;
    color: var(--grey, #D2D1D0);
font-family: Bahnschrift;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 16.9px */
}

.personal__buttons {
    display: flex;
    /* width: 100%; */
    /* margin: 14px 10px 10px -176px; */
    gap: 20px;
    align-items: ledt;
    align-content: left;
    margin-top: 83px;
    align-self: baseline;
}

.personal__button-event {
    color: var(--white, #FFF);
    font-family: Bahnschrift;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 26px */
    text-transform: uppercase;
    border: 3px solid var(--red, #B73A34);
    padding: 16px 32px 18px 32px;
    background: none;
    cursor: pointer;
}

.personal__button-create {
    color: var(--white, #FFF);
    font-family: Bahnschrift;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 26px */
    text-transform: uppercase;
    padding: 16px 32px 18px 32px;
    background-color: var(--red, #B73A34);
    cursor: pointer;
    border: none; /* No border for create button */
}


.personal__viewed-section {
    width: 100%;
}

.personal__viewed-title {
    margin: 20px 0;
}

.personal__viewed-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
