.slider__event {
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 25px);
    margin: 0 0 12px 0;
    height: 600px;
}

.slider__event-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    transform: scale(1.1);
}

.slider__event-slide--active {
    opacity: 1;
    transform: scale(1);
}

.slider__event-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.slider__event-content {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    width: 901px;
    padding: 20px;
    box-sizing: border-box;
}

.slider__event-sity{

    color: var(--white, #FFF);
/* accent medium */
font-family: Bahnschrift;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 26px */
margin: 0;
}

.slider__event-title{
    color: var(--white, #FFF);
    font-family: Benzin-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
}

.slider__event-button{
    color: white;
    background-color: #B73A34;
    border: none;
    padding: 17px 22px;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    cursor: pointer;
}