.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}


.label {
    font-size: 13px;
    font-weight: 700;
    font-stretch: semi-condensed;
    line-height: 130%;
}

.input {
    background-color: transparent;
    border: 2px solid;
    padding: 10px;
    font-size: 14px;
    resize: vertical;
    min-height: 40px;
}

.input:focus {
    outline: none;
    border-radius: 0;
}

.input::placeholder {
    color: var(--divider-white);
    font-size: 15px;
    font-weight: 400;
    font-stretch: semi-condensed;
    line-height: 130%;
}

.hint {
    color: var(--divider-white);
    font-size: 13px;
    font-weight: 400;
    font-stretch: semi-condensed;
    line-height: 130%;
}


.light .label {
    color: var(--white);
}

.light .input {
    border-color: var(--white);
    color: var(--white);
}


.dark .label {
    color: var(--dark-grey);
}

.dark .input {
    border-color: var(--dark-grey);
    color: var(--dark-grey);
}

.error .hint{
    color: var(--error);
}

.error .input {
    border-color: var(--error);
    color: var(--error);
}