.checkbox-fieldset{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    /* padding: 12px 0 12px 24px; */
    border: none;
}

.checkbox-fieldset label{
    padding: 0 0 0 24px;
}

.checkbox-fieldset label:first-child{
    padding: 0;
}

.watch-all-button{
    background-color: transparent;
    border: none;
    color: var(--grey, #D2D1D0);
    text-align: right;
    font-size: 20px;
    line-height: 130%;
    align-self: end;
}