.ContentShowcase .swiper-button-next:after,
.ContentShowcase .swiper-button-prev:after,
.ContentShowcase .swiper-button-disabled {
  display: none;
}

.swiper-button-next.arrow svg {
  transform: rotate(-180deg);
}


.swiper .arrow {
  background-color: var(--white);
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  color: var(--dark-grey);
}

@media (max-width: 768px) {
  .swiper .arrow {
    padding: 5px;
    width: 30px;
    height: 30px;
  }
}
