.select-menu {
    position: relative;
    width: max-content;
}



.select-menu__selected, .select-menu__item {
    color: var(--dark-grey);
    cursor: pointer;
    background: var(--white);
    display: flex;
    line-height: 130%;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 24px 13px;
    align-items: center;
    font-stretch: semi-condensed;
}

.select-menu__selected {
    gap: 12px;
    justify-content: space-between;
    fill: none;
}

.select-menu__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
}

.select-menu.open .select-menu__selected {
    background-color: var(--grey);
}

.select-menu__item--selected {
    background-color: var(--black);
    color: var(--white);
    gap: 12px;
    justify-content: space-between;
}

@media (hover: hover) and (pointer: fine) {

    .select-menu__selected:hover {
       background-color: var(--grey);
    }

    .select-menu__item:hover {
        background-color: var(--hover);
    }

    .select-menu__item--selected:hover {
        background-color: var(--black);
        color: var(--white);
    }
}

