.teamSection {
    background-color: var(--blue);
}

.teamTitle {
    display: none;
}

.teamContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: grab;
}

.teamInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.teamDescription {
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    font-stretch: semi-condensed;
    max-width: 510px;
}

.teamImageWrapper {
    position: relative;
    max-width: 565px;
    max-height: 497px;
    width: 100%;
    height: 100%;
    aspect-ratio: 565 / 497;
}

.teamTabs:global(.swiper) {
    display: flex;
    gap: 20px;
    padding: 20px 0 40px 0;
}

.teamTab {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 184px;
    cursor: pointer;
}

.teamTabLine {
    height: 3px;
    width: 100%;
    background-color: var(--grey);
    transition: background-color 0.3s;
}

.teamTabActive .teamTabLine {
    background-color: var(--red);
}

.teamTabName {
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
    font-stretch: semi-condensed;
}

.teamSection :global(.swiper-pagination) {
    display: none;
}


@media (max-width: 768px) {

    .teamSection {
        background-color: transparent;
    }

    .teamContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .teamTitle {
        display: block;
    }

    .teamContent {
        padding-top: 10px;
        align-items: center;
        cursor: grab;
        flex-direction: column;
        gap: 20px;
    }

    .teamInfo {
        text-align: center;
        order: 2;
        gap: 10px;
    }

    .teamDescription {
        font-size: 15px;
        text-align: center;
    }

    .teamTabs {
        display: none;
    }

    .teamImageWrapper {
        max-width: 234px;
        max-height: 202px;
    }

    .teamSection :global(.SwiperPagination) {
        background-color: var(--blue);
    }

    .teamSection :global(.swiper-pagination) {
        display: block;
    }

    .teamSection :global(.SwiperPagination.swiper-initialized.swiper-horizontal .swiper-pagination .swiper-pagination-bullet) {
        background: var(--white);
        opacity: .2;
    }

    .teamSection :global(.SwiperPagination.swiper-initialized.swiper-horizontal .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active) {
        opacity: 1;
    }


}