.skate-event {
  height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 25px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 63px;
    min-height: 253px;
}

.skate-event__text-block {
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  white-space: nowrap; /* Запретить перенос текста на следующую строку */
  position: relative; /* Необходимо для работы z-index */
}

.skate-event__text-block--gray {
  background-color: #B73A34;
  color: white;
  overflow: hidden; /* Скрыть содержимое, которое выходит за пределы блока */
  z-index: 2; /* Установить более высокий уровень */
  top: 60px; /* Сдвинуть блок вниз на 20 пикселей */
}

.skate-event__text-block--black {
  background-color: transparent;
  border-top: 3px dashed white;
  border-bottom: 3px dashed white;
  color: white;
  transform: rotate(7deg); /* Поворот на 7 градусов */
  z-index: 1; /* Установить более низкий уровень */
  overflow: hidden;
}

.skate-event__text {
  text-transform: uppercase; /* Преобразовать текст в большие буквы */
  margin-right: 20px; /* Добавим отступ между повторениями текста */
  animation: run-text 10s linear infinite; /* Запустить анимацию */
}
@keyframes run-text {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.template {
  display: flex;
  align-items: center; /* Выравниваем элементы по вертикали */
}

.template__text {
  width: 65%; /* Ширина блока текста */
  padding-right: 20px; /* Добавляем отступ справа */

}

.template__title {
  padding: 0;
  max-width: 699px;
  font-family: Benzin-Medium;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
  /* height: 144px; */
  margin: 0;
}

.template__image {
  width: 286px;
  height: 289px;
  object-fit: cover;
}

.template__card {
  width: 35%;
  height: 635px;
}

.template__description {
  margin: 0;
  max-width: 898px; /* Ограничение ширины текста */


/* body medium */
font-family: Bahnschrift;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 26px */
}

.template__time {
  margin: 0;


/* body medium */
font-family: Bahnschrift;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 26px */
}

.template__org {
  margin: 0;
  margin-top: 40px;


/* body medium */
font-family: Bahnschrift;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 26px */
}

.template__meet {
  margin: 0;
  margin-top: 40px;


/* body medium */
font-family: Bahnschrift;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 26px */
}

.last-description {
  margin-bottom: 40px;

  font-weight: 600;

/* body medium */
font-family: Bahnschrift;
font-size: 20px;
font-style: normal;
line-height: 130%; /* 26px */
}

.template__question {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 153px;


/* body medium */
font-family: Bahnschrift;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 26px */
}

.icon-container {
  margin-left: 10px; /* Добавим небольшой отступ между фразой и кружками */
  display: flex;
}

.telegram-circle {
  width: 30px;
  height: 30px;
  background: url(../../images/telegram.png) no-repeat center/cover;
  cursor: pointer;
}

.whats-circle{
  width: 30px;
  height: 30px;
  background: url(../../images/whatsapp.png) no-repeat center/cover;
  cursor: pointer;
}


.template__card-subtitle {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 5px;


  /* accent medium */
  font-family: Bahnschrift;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 26px */
}

.template__card-description {

  font-family: Bahnschrift;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  margin: 0;
  margin-bottom: 5px;
}

.template__card-office {
  margin: 0;

  font-family: Bahnschrift;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 16.9px */
}

.buttons{
    display: flex;
    margin-top: 80px;
    gap:10px;
}

.button__red{
    color: white;
    background-color: #B73A34;
    border: none;
    padding: 17px 22px;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    cursor: pointer;
}

.button__white {
    color: rgb(254, 252, 252);
    background-color: #222;
    border: 2px solid #B73A34; /* Задаем толщину и стиль границы */
    padding: 15px 22px;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    cursor: pointer;
}

.map_event{
    margin-top: 60px;
}

.likeit{

    margin-top: 120px;
}
.likeit__title{
    font-size: 60px;
    line-height: 130%; 
    text-transform: uppercase;
    margin: 0 0 60px;
}

.likeit__list{
    display: flex;
    list-style-type: none;
    gap: 20px;
}