.banner-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.banner-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    pointer-events: none;
}


.banner-video iframe {
    width: 100%;
    height: 100%
}

.banner-wrapper-content {
    align-items: center;
    display: flex;
    height: 100%;
}

.banner-content {
    z-index: 1;
    max-width: 573px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.banner-logo-wrapper {
    position: relative;
    aspect-ratio: 1;
    width: 100%;
    max-height: 157px;
}

.banner-content h1 {
    font-weight: 400;
    text-transform: uppercase;
    line-height: 130%;
    font-size: 28px;
    font-stretch: semi-condensed;
    color: var(--white);
}


.banner-wrapper-button {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 768px) {

    .banner-container {
        height: 550px;
    }

    .banner-video iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 177.77vh;
        height: 100vh;
        transform: translate(-50%, -50%);
        pointer-events: none;
        border: none;
    }


    .banner-wrapper-content {
        align-items: flex-end;
        display: flex;
        height: 100%;
    }

    .banner-content {
        max-width: 320px;
        gap: 20px;
    }

    .banner-logo-wrapper {
        max-height: 85px;
    }

    .banner-content h1 {
        font-size: 15px;
    }

    .banner-wrapper-button {
        margin: 160px 0 20px;
    }

    .banner-wrapper-button .button {
        width: 100%;
        max-width: 100%;
        padding: 12px 0;
    }

}
