.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContent {
  background-color: var(--white);
  padding: 50px;
  position: relative;
  max-width: 90%;
  min-width: 320px;

  max-height: 98vh;
  overflow-y: auto;
}

.modalClose {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--divider-white);
}


@media (max-width: 768px) {
  .modalContent {
    padding: 20px;
  }

}
