@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.page{
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    font-family: Bahnschrift, Arial, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    background-color: #222;
    color: white;
    overflow: hidden;
}

body::-webkit-scrollbar {
    background-color: #a7a7a7;
  }

body::-webkit-scrollbar-thumb {
background-color: #2e2e2e;
}
  
.content{
    flex:1;
    padding: 0 0 120px;
    width: 100%;
    max-width: 1204px;
    margin: 0 auto 0;
    position: relative;
    z-index: 2;
    min-height: 100vh;
    padding: 78px 0 0;
}

.content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 30px);
    right: 0;
    bottom: 0;
    background-image: url(./images/photo_2024-05-23_00-03-46.jpg);
    opacity: 0.1;
    z-index: -1;
}

.no-scroll{
    overflow: hidden;
  }

  @media screen and (max-width:1024px) {
    .content{
        max-width: 95%;
    }
  }