.partnersGroupList {
    display: flex;
    gap: 65px;
    flex-direction: column;
}

.partnersGroup {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.partnersGroup h3 {
    color: var(--blue);
    font-weight: 700;
    font-stretch: semi-condensed;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 130%;
}


@media (max-width: 1100px) {
    .partnersGroup h3 {
        font-size: 28px;
    }
}

@media (max-width: 1024px) {
    .partnersGroup h3 {
        font-size: 24px;
    }

}
