.eventsSelectFilters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    margin-top: 60px;
}

.eventsSelectFilters :global(.select-menu) {
    width: 100%;
}

@media (max-width: 768px) {
    .eventsSelectFilters {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .eventsSelectFilters :global(.select-menu) {
        width: max-content;
    }
}