.userEventsSection {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.userEventsHeader {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.userEventsList {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (max-width: 768px) {
    .userEventsSection {
        gap: 40px;
    }

    .userEventsList {
        gap: 20px;
    }

}