.tooltip-floating {
    position: absolute;
    transform: translate(-50%, -100%);
    background: var(--dark-grey);
    color: var(--white);
    padding: 10px 28px;
    pointer-events: none;
    z-index: 50;
    max-width: 271px;
    width: max-content;
    display: flex;
    gap: 3px;
    flex-direction: column;
    font-size: 13px;
    font-weight: 400;
}

.tooltip-floating::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top-color: var(--dark-grey);
}

.tooltip-floating .red {
    color: var(--red);
}

@media (max-width: 1024px) {
    .tooltip-floating {
        padding: 4px 10px;
        font-size: 9px;
        max-width: 150px;
    }

}