.item {
    display: flex;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 16px 8px;
    gap: 20px;
    cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
    .item:hover {
        background-color: var(--blue);
        color: var(--white);
    }
}

.city, .detail {
    font-family: var(--font-Bahnschrift), sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    font-stretch: semi-condensed;
    text-align: left;
    width: 100%;
    word-break: break-word;
    overflow-wrap: anywhere;
}

.city {
    max-width: max-content;
    min-width: 120px;
}


.details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.detail {
    max-width: none;
}

@media (max-width: 768px) {
    .city, .detail {
        font-size: 13px;
    }

    .city {
        min-width: 80px;
    }

    .details {
        gap: 7px;
    }

}


@media (max-width: 490px) {

    .item {
        padding: 8px 0;
    }
}