.profileEventGallery {
    max-width: 650px;
    width: 100%;
    position: relative;
    aspect-ratio: 650 / 380;
}

.galleryImage {
    object-fit: cover;

}

.profileEventGallery :global(.swiper .arrow) {
    width: 48px;
    height: 48px;
    padding: 12px;
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
}

.profileEventGallery :global(.swiper-initialized.swiper-horizontal .swiper-pagination .swiper-pagination-bullet) {
    margin: 0 4px;
    background: var(--white);
    opacity: 1;
}

.profileEventGallery :global(.swiper-initialized.swiper-horizontal .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active) {
    background: var(--red);
}

@media (max-width: 1100px) {
    .profileEventGallery {
        max-width: 500px;

    }
}

@media (max-width: 950px) {
    .profileEventGallery {
        max-width: 400px;

    }
}

@media (max-width: 768px) {
    .profileEventGallery {
        max-width: none;
        min-height: 220px;
    }
}