/* Popuplogin.css */
.PopuploginOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 20;
}

.PopuploginOverlay.active {
    opacity: 1;
    visibility: visible;
}

.PopuploginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PopuploginPopup {
    width: 484px;
    height: 635px;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: scale(0.8);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    border-radius: 10px;
}

.PopuploginOverlay.active .PopuploginPopup {
    transform: scale(1);
    opacity: 1;
}

.PopuploginClose {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.PopuploginForm {
    display: flex;
    flex-direction: column;
    /* gap: 11px; */
    padding: 100px 100px;
}

.PopuploginTitle {
    color: var(--dark-grey, #222);
    font-family: Bahnschrift;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-align: left;
    margin: 0 0 4px;
}

.PopuploginLabel {
    font-size: 16px;
}

.PopuploginInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding does not affect width */
}

.PopuploginPasswordWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.PopuploginPasswordWrapper .PopuploginInput {
    padding-right: 40px; /* Space for the button */
}

.PopuploginTogglePassword {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PopuploginTogglePassword img {
    width: 20px;
    height: 20px;
}

.PopuploginSmall {
    color: var(--divider-white, #BEBDBC);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 5px;
}

.input-error {
    border: 2px solid var(--Main-error, #FF3B3B);
}

.error-message {
    color: var(--Main-error, #FF3B3B);
}

.PopuploginButtons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
}

.PopuploginLoginButton, .PopuploginRegisterButton {
    width: 100%; /* Кнопки занимают всю ширину */
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.PopuploginLoginButton {
    background: #b52e2b;
    color: white;
}

.PopuploginLoginButton:disabled {
    background: #ccc;
    cursor: not-allowed;
}
 
.PopuploginRegisterButton {
    background: white;
    color: #b52e2b;
    border: 2px solid #b52e2b;
}

.PopuploginForgotPassword {
    margin-top: 16px;
    font-size: 14px;
    color: gray;
    text-align: center;
}
