.dashed-all {
    border: dashed 3px var(--dashed-color);
    background-color: transparent;
}

.dashed-y {
    background-color: transparent;
    border-top: dashed 3px var(--dashed-color);
    border-bottom: dashed 3px var(--dashed-color);
}


/*скрол*/

/* WebKit-браузеры: Chrome, Safari, Edge */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--grey);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-grey);
    border: none;
}

@media (hover: hover) and (pointer: fine) {
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--black);
    }
}