.dashed-all {
    border: dashed 3px var(--dashed-color);
    background-color: transparent;
}

.dashed-y {
    background-color: transparent;
    border-top: dashed 3px var(--dashed-color);
    border-bottom: dashed 3px var(--dashed-color);
}

