.dashed-all {
    border: dashed 3px var(--dashed-color);
    background-color: transparent;
}

.dashed-y {
    background-color: transparent;
    border-top: dashed 3px var(--dashed-color);
    border-bottom: dashed 3px var(--dashed-color);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--white);
    border: 1px solid var(--grey);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
    background-color: #363636;
}

@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: #363636 var(--white);
    }
}